*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.body{
    background: floralwhite;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.logo{
    margin-left: 100px;
    margin-top: 20px;
}
.logo img{
    width: 150px;
    cursor: pointer;
}
.links ol{
    list-style: none;
    display: flex;
    gap: 14px;
}
.links ol li{
    cursor: pointer;
    font-size: 16px;
}
.links ol li:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 0.692);
}
.links{
    margin-top: 30px;
}
.active{
    border-bottom: 1px solid rgba(0, 0, 0, 0.692);
}
.icons{
    display: flex;
    gap: 20px;
    margin-right: 100px;
    margin-top: 30px;
}
.icons img{
    cursor: pointer;
}
.search{
    width: 24px;
    height: 24px;
}

@media (max-width:769px) {
    body{
        overflow-x: hidden;
    }
    .logo img{
        width: 100px;
    }
    .links{
        display: none;
    }
    .icons{
        display: flex;
        gap: 100px;
        margin-right: 200px;
        margin-top: 25px;
    }
}

.landing{
    border: 1px solid black;
    margin: 20px 100px;
    display: flex;
    justify-content: space-between;
}
.image img{
    width: 530px;
}
@media (max-width:769px) {
    .landing{
        display: block;
    }
    .image{
        margin-top: 250px;
    }
    .image img{
        width: 566px;
    }
}
.text{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 65px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text h3{
    display: flex;
    gap: 20px;
    font-weight: 300;
    font-size: 18px;
}
.text h1{
    font-weight: 600;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 10px;
}
.text hr{
    width: 100px;
    height: 0;
    margin-top: 10px;
    background-color: black;
}
.shop{
    margin-left: -105px;
}

@media (max-width:769px) {
    .text{
        margin-top: 200px;
    }
}

.collections{
    text-align: center;
    margin-top: 50px;
}
.collections h1{
    color: #333333;
}
.collections h1 span{
    font-weight: 300;
    color: #333;
}
.collections p{
    color: #333;
    font-size: 300;
}
.img-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}
.first-row,.second-row{
    display: flex;
    gap: 20px;
    margin: 0 100px;
}
.clothing{
    text-align: start;
    position: relative;
    width: 200px;
}
.clothing img{
    width: 200px;
    cursor: pointer;
}
.clothing img:hover{
    width: 198px;
    transition: 0.3s ease-in;
}
.clothing h4{
    font-weight: 300;
    font-size: 12px;
}

.banners{
    margin: 80px 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.exchange,.policy,.support{
    display: block;
    gap: 14px;
    margin: 10px;
}
.exchange img,.policy img,.support img{
    width: 30px;
}
.exchange h1,.policy h1,.support h1{
    font-size: 14px;
}
.exchange p,.support p,.policy p{
    font-size: 10px;
    font-weight: 300;
}

.newsletter{
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}
.newsletter h1{
    font-weight: 600;
    color: #333;
    font-family: sans-serif;
}
.newsletter p{
    font-weight: 300;
    color: #333333;
}
.subscribe{
    margin-top: 30px;
}
.subscribe input{
    background: transparent;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.256);
    padding: 10px 80px;
}
.subscribe button{
    position: relative;
    margin-left: -30px;
    border: none;
    outline: none;
    background: black;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
}


footer{
    margin-top: 120px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}
footer .align{
    display: flex;
    justify-content: space-between;
}
.info{
    max-width: 500px;
}
.info img{
    width: 120px;
}
.info p{
    font-size: 14px;
    font-weight: 300;
    color: #333;
}
.redirects li,.touch li{
    list-style: none;
    cursor: pointer;
    margin: 10px;
}
.re-links{
    margin-top: 30px;
}
.redirects h2,.touch h2{
    font-size: 18px;
}
.modes{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.modes li{
    list-style: none;
    margin-top: 30px;
}
.modes input{
    width: 30px;
    cursor: pointer;
    margin-top: 15px;
    justify-content: start;
}

.collection{
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}
.search-box{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.search-box input{
    background: transparent;
    width: 500px;
    border: none;
    outline: 1px solid #333;
    padding: 10px;
    border-radius: 10px;
}
.search-box img{
    margin-left: 10px;
    cursor: pointer;
}
.col-titles{
    display: flex;
    justify-content: space-between;
    margin: 50px 50px;
}
.col-titles h3{
    margin-left: 50px;
    font-weight: 300;
}
.col-container{
    display: flex;
    justify-content: space-between;
    width: 900px;
}
.col-container span{
    font-weight: 600;
    color: gray;
    font-family: sans-serif;
}
.fil-container{
    display: flex;
}
.categories{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 100px;
}
.categ1{
    outline: 1px solid rgba(0, 0, 0, 0.525);
    padding: 10px 30px;
    border-radius: 10px;
}
.categ1 h3{
    font-weight: 600;
    color: #333;
    font-size: 18px;
}
.filter{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.filter input{
    cursor: pointer;
}
.filter h5{
    font-weight: 300;
    color: #333333cf;
}

.filters-img{
    display: flex;
    margin: 0 50px;
}
.all-imgs{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.images-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.product img{
    width: 180px;
    cursor: pointer;
}
.details h4{
    font-size: 10px;
}
.col-container select{
    margin-right: 80px;
    cursor: pointer;
}
.col-container select option{
    cursor: pointer;
}





/*Contact Page */
.contact{
    text-align: center;
    margin-top: 50px;
    align-items: center;
    display: block;
    justify-content: center;
}
.contact span{
    font-weight: 300;
    color: #3333339c;
}
.contact-info{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.cont-img{
    margin-left: 250px;
}
.cont-img img{
    width: 400px;
}
.cont-details{
    display: block;
    justify-content: start;
    text-align: start;
    margin-top: 30px;
    margin-left: 30px;
}
.cont-details h2{
    font-size: 18px;
    font-weight: 600;
}
.cont-details h4{
    font-weight: 300;
    font-size: 16px;
    color: #333;
}
.cont-details button{
    border: none;
    outline: 1px solid black;
    background: transparent;
    cursor: pointer;
    padding: 10px 15px;
}
.cont-details a{
    text-decoration: none;
    color: black;
}



/*About us styling code starts here */
.about{
    text-align: center;
    margin-top: 50px;
    align-items: center;
    display: block;
    justify-content: center;
}
.about span{
    font-weight: 300;
    color: #3333339c;
}
.about-container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 10px 30px;
}
.about-img img{
    width: 400px;
}
.about-info{
    display: block;
    justify-content: start;
    text-align: start;
    padding: 60px 50px;
}
.about-info h2{
    font-weight: 700;
    font-size: 16px;
}


.why{
    text-align: start;
    margin-top: 50px;
}
.why h1{
    margin-left: 30px;
}
.why span{
    font-weight: 300;
    color: #3333339c;
}
.why-col{
    margin: 50px 100px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 0 30px;
}
.why-col h2{
    font-weight: 700;
    font-size: 16px;
}
.why-col hr{
    width: 0px;
    height: 100px;
    position: absolute;
    margin-top: -80px;
    margin-left: -20px;
}
.why-col p{
    font-size: 14px;
}